{% load static %}

<header class="dark:bg-body-dark transition" x-data="{showSidenav: false}">
  <nav class="bg-secondary-dark dark:bg-gray-dark transition">
    <div class="max-w-7xl w-full mx-auto px-4 lg:px-10 py-1.5">
      <ul
        class="text-light text-sm md:text-[16px] font-light flex justify-center items-center sm:justify-end space-x-6"
      >
        {% if request.user.is_authenticated %}
        <li>Hello, {{ request.user }}</li>
        <li>
          <a href="{% url 'user:logout' %}">
            <button
              class="text-sm text-light px-3 py-1 rounded-md border-primary border-2 transition"
            >
              Logout
            </button>
          </a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'user:login' %}" class="hover:underline">Sign in</a>
        </li>
        <li>
          <a href="{% url 'user:register' %}" class="hover:underline">
            Create Account
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <!-- top navbar -->

  <nav class="bg-light dark:bg-primary-dark transition">
    <div class="max-w-7xl w-full mx-auto px-4 lg:px-10 py-4">
      <div class="flex justify-between items-center">
        <h3 class="md:block hidden">
          <a href="{% url 'core:index' %}">
            <img
              src="{% static 'images/logo.png' %}"
              alt="shopswift logo"
              class="size-12 rounded-md shadow-md"
            />
          </a>
        </h3>
        {% with request.resolver_match.url_name as url_name %}
        <ul class="hidden md:flex items-center space-x-1">
          <li>
            <a
              class="nav-link {% if url_name == 'index' %}nav-link__active{% endif %}"
              href="{% url 'core:index' %}"
            >
              home
            </a>
          </li>
          <li>
            <a
              class="nav-link {% if url_name == 'about' %}nav-link__active{% endif %}"
              href="{% url 'core:about' %}"
            >
              about
            </a>
          </li>
          <li>
            <a
              class="nav-link {% if url_name == 'list' %}nav-link__active{% endif %}"
              href="{% url 'product:list' %}"
            >
              products
            </a>
          </li>
          <li>
            <a
              class="nav-link {% if url_name == 'cart' %}nav-link__active{% endif %}"
              href="{% url 'cart:cart' %}"
            >
              cart
            </a>
          </li>
          {% if request.user.is_authenticated %}
          <li>
            <a
              class="nav-link {% if url_name == 'checkout' %}nav-link__active{% endif %}"
              href="{% url 'core:checkout' %}"
            >
              checkout
            </a>
          </li>
          <li>
            <a
              class="nav-link {% if url_name == 'orders' %}nav-link__active{% endif %}"
              href="#"
            >
              orders
            </a>
          </li>
          {% endif %}
        </ul>
        {% endwith %}
        <!-- navbar links -->

        <button class="block md:hidden" @click="showSidenav = !showSidenav">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-7 dark:text-light"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
            />
          </svg>
        </button>

        <div class="flex items-center gap-3.5">
          {% include 'components/theme-toggler.html' %}

          <a href="{% url 'cart:cart' %}" class="relative inline-block">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 dark:text-light"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
              />
            </svg>
          </a>

          <a href="{% url 'user:profile' %}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-[26px] dark:text-light"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!-- main navbar -->

  <template x-if="showSidenav">
    <nav
      class="bg-light dark:bg-primary-dark mt-2 max-w-[240px] ml-5 p-2 rounded-lg shadow-md md:hidden transition"
    >
      <ul class="space-y-1.5">
        {% with request.resolver_match.url_name as url_name %}
        <li>
          <a
            class="nav-link {% if url_name == 'index' %}nav-link__active{% endif %}"
            href="{% url 'core:index' %}"
          >
            home
          </a>
        </li>

        <li>
          <a
            class="nav-link {% if url_name == 'about' %}nav-link__active{% endif %}"
            href="{% url 'core:about' %}"
          >
            about
          </a>
        </li>
        <li>
          <a
            class="nav-link {% if url_name == 'list' %}nav-link__active{% endif %}"
            href="{% url 'product:list' %}"
          >
            Products
          </a>
        </li>
        <li>
          <a
            class="nav-link {% if url_name == 'cart' %}nav-link__active{% endif %}"
            href="{% url 'cart:cart' %}"
          >
            cart
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li>
          <a
            class="nav-link {% if url_name == 'checkout' %}nav-link__active{% endif %}"
            href="{% url 'core:checkout' %}"
          >
            checkout
          </a>
        </li>
        <li>
          <a
            class="nav-link {% if url_name == 'orders' %}nav-link__active{% endif %}"
            href="#"
          >
            orders
          </a>
        </li>
        {% endif %}
      </ul>
      {% endwith %}
    </nav>
  </template>
  <!-- side navbar -->
</header>
