{% extends 'layout/auth.layout.html' %} 
{% load static %} 

{% block title %} Create Account | ShopSwift {% endblock title %} 

{% block main %}
<section class="w-full h-full flex justify-center items-center px-3">
  <form
    action="."
    method="POST"
    class="max-w-lg w-full shadow-md rounded-xl px-4 sm:px-5 py-7 md:p-8 space-y-6 bg-light dark:bg-primary-dark"
  >
    {% csrf_token %}
    <h2
      class="text-4xl text-secondary-dark font-medium transition text-center dark:text-light"
    >
      Register
    </h2>

    {% if form.errors %}
    <ul class="bg-rose-500 px-4 py-2 rounded-md shadow-md">
      {% for error in form.non_field_errors %}
        <li class="text-white">{{ error }}</li>
      {% endfor %}
      {% for field in form %}
        {% for error in field.errors %}
          <li class="text-white">{{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
    {% endif %}

    <div class="space-y-4 md:space-y-6">
      {% for field in form %}
      <div class="auth-field-wrapper">
        <span class="capitalize"> {{ field.label_tag }} </span>
        {{ field }}
      </div>
      {% endfor %}
    </div>

    <button type="submit" class="btn-secondary w-full">Register</button>

    <p class="text-center text-secondary-dark dark:text-light">
      Already a member?
      <a href="{% url 'user:login' %}" class="text-primary font-medium">
        Login
      </a>
    </p>
  </form>
</section>
{% endblock main %}
